{% extends 'includes/base.html' %}

{% block title %}
    Регистрация
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <br>
    <div class="alert alert-dismissible alert-primary">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Ошибка</strong> <p>{{message}}</p>
      </div>
    {% endfor %}
</ul>
{% endif %}
<div class="container py-5">
	<h1>Регистрация</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }} 
        <br>                   
		<button class="btn btn-primary" type="submit">Зарегестрироваться</button>
	</form>
	<p class="text-center">Уже есть аккаунт, <a href="{% url 'login' %}">войдите.</a></p>
</div>

{% endblock content %}
