{% extends 'includes/base.html' %}

{% block title %}
    Список пользователей
{% endblock title %}

{% block content %}
    <h1 style='margin-left: 2rem' class='mt-2'>Список пользователей:</h1>
    <br>
    <div class="row" style='margin-left: 1rem'>
        {% for user in users %}
            <div class="col-sm-6">
                <div class="card border-dark mb-3" style="width: 35rem;">
                    <h3 class='card-header'>{{ user }}</h3>
                    <div class="card-body">
                        <a href="{% url 'user_detail' user.pk %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <h3>Пользователей нет</h3>
        {% endfor %}
        <div class="row">
{% endblock content %}
