{% load crispy_forms_tags %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <br>
    <div class="alert alert-dismissible alert-primary">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Ошибка</strong> <p>{{message}}</p>
        <p>P.S. Не ошибайтесь больше (づ｡◕‿‿◕｡)づ</p>
      </div>
    {% endfor %}
</ul>
{% endif %}
<div class="container py-5">
    <h1>{{title}}</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
        </br>
    <button class="btn btn-outline-primary" type="submit">{{name}}</button>
    </form>
  </div>