{% extends 'includes/base.html' %}

{% block title %}
    Подробное описание товара
{% endblock title %}

{% block content %}
<br>
<div class="row">
    <div class="col-sm-6">
        <div class="card border-dark mb-3" style="width: 35rem;">
            <h3 class='card-header'>
                {{ item.name }}
            </h3>
            <div class="card-body">
                <div class="card-title">
                    <span class="text-muted">
                        Категория: 
                    <span>
                    <span class="badge bg-light">{{item.category}}</span></br>
                    <span class="text-warning">
                        Теги: 
                    <span>
                    {% for tag in item.tags.all %}
                    <span class="badge rounded-pill bg-primary">{{tag}}</span>
                    {% endfor %}
                </div>
                <p class="card-text"><span class='text-danger'>Описание:</span> {{ item.text|truncatewords:10 }}</p>
            </div>
            <div class="card-body">
                <a href="{% url 'all_items' %}" class="btn btn-outline-secondary">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
