{% extends 'includes/base.html' %}

{% block title %}
    Подробное описание товара
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="row" style='margin-left: 1rem'>
    <div class="col-sm-6">
        <div class="card border-dark mb-3" style="width: 35rem;">
            <h3 class='card-header'>
                {{ item.name }}
            </h3>
            <div class="card-body">
                <div class="card-title">
                    <span class="text-muted">
                        Категория: 
                    <span>
                    <span class="badge bg-light">{{item.category}}</span></br>
                    <span class="text-warning">
                        Теги: 
                    <span>
                    {% for tag in item.tags.all %}
                    <span class="badge rounded-pill bg-primary">{{tag}}</span>
                    {% endfor %}
                </div>
                <p class="card-text"><span class='text-danger'>Описание:</span> {{ item.text|truncatewords:10 }}</p>
                {% if all_ratings.star__avg %}
                <span class="text-muted">
                    Средняя оценка: 
                </span>
                <span class='badge bg-warning'>{{all_ratings.star__avg}}</span></br>
                    <span class="text-muted">
                        Всего оценок: 
                    </span>
                <span class='badge bg-success'>{{all_ratings.star__count}}</span>
                {% else %} <span class="text-muted">
                    Пока нет ни одной оценки :(
                </span>
                {% endif %}
                </br>
                {% if request.user.is_authenticated %}
                {% if user_rating != 0 %}
                <span class="text-muted">
                    Ваша оценка:
                </span>
                <span class='badge bg-danger'>{{user_rating}}</span>
                {% else %} <br><span class="text-danger">
                    Вы пока не оценили данный товар
                </span>
                {% endif %}
                <form method="post" class="mt-2">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button class='btn btn-outline-primary' type='submit'>Оценить</button>
                {% else %} <br><span class="text-danger">
                    Оценку могут ставить только авторизованные пользователи
                {% endif %}
                </span>
                
            </div>
            <div class="card-body">
                <a href="{% url 'all_items' %}" class="btn btn-outline-secondary">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
