{% extends 'includes/base.html' %}

{% block title %}
    Список товаров
{% endblock title %}

{% block content %}
    {% if categories %}
        <h1 style='margin-left: 2rem' class='mt-2'>Список товаров:</h1>
        </br>
        {% for category in categories %}
            {% if category.items.all %}
                <h2 class="text-primary" style='margin-left: 2rem'> {{category.slug}} </h2>
                </br>
                {% with category.items.all as items %}
                    {% include 'includes/item_card.html' %}
                {% endwith %}
            {% endif %}
        {% empty %} <p>Нет тут пока ничего</p>
        {% endfor %}
    {% endif %}
{% endblock content %}
