{% extends 'includes/base.html' %}

{% block title %}
    Список товаров
{% endblock title %}

{% block content %}
    {% if categories %}
        </br>
        <h1>Список товаров:</h1>
        </br>
        {% for category in categories %}
            {% if category.items.all %}
                <h1 class="text-primary"> {{category.slug}} </h1>
                </br>
                {% with category.items.all as items %}
                    {% include 'includes/item_card.html' %}
                {% endwith %}
            {% endif %}
        {% empty %} <p>Нет тут пока ничего</p>
        {% endfor %}
    {% endif %}
{% endblock content %}
